input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  outline: none !important;
}

input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
}

.form-check-inline {
  margin-right: 0rem !important;
}
